@font-face {
    font-family: 'Noto Sans SC';
    src: url('./NotoSerifSC-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans SC';
    src: url('./NotoSansSC-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans SC';
    src: url('./NotoSansSC-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans SC';
    src: url('./NotoSansSC-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans SC';
    src: url('./NotoSansSC-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'Noto Serif SC';
    src: url('./NotoSerifSC-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif SC';
    src: url('./NotoSerifSC-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif SC';
    src: url('./NotoSerifSC-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif SC';
    src: url('./NotoSerifSC-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif SC';
    src: url('./NotoSerifSC-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'),
        url('NotoSerif-BoldItalic.woff2') format('woff2'),
        url('NotoSerif-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif Bold'), local('NotoSerif-Bold'),
        url('NotoSerif-Bold.woff2') format('woff2'),
        url('NotoSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif Italic'), local('NotoSerif-Italic'),
        url('NotoSerif-Italic.woff2') format('woff2'),
        url('NotoSerif-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif'), local('NotoSerif'),
        url('NotoSerif.woff2') format('woff2'),
        url('NotoSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
        url('Ubuntu-Bold.woff2') format('woff2'),
        url('Ubuntu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'),
        url('Ubuntu-BoldItalic.woff2') format('woff2'),
        url('Ubuntu-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Italic'), local('Ubuntu-Italic'),
        url('Ubuntu-Italic.woff2') format('woff2'),
        url('Ubuntu-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Light'), local('Ubuntu-Light'),
        url('Ubuntu-Light.woff2') format('woff2'),
        url('Ubuntu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
        url('Ubuntu-Medium.woff2') format('woff2'),
        url('Ubuntu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'),
        url('Ubuntu-LightItalic.woff2') format('woff2'),
        url('Ubuntu-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'),
        url('Ubuntu-MediumItalic.woff2') format('woff2'),
        url('Ubuntu-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
        url('Ubuntu-Regular.woff2') format('woff2'),
        url('Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'Ubuntu Mono';
    src: local('Ubuntu Mono Italic'), local('UbuntuMono-Italic'),
        url('UbuntuMono-Italic.woff2') format('woff2'),
        url('UbuntuMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu Mono';
    src: local('Ubuntu Mono'), local('UbuntuMono-Regular'),
        url('UbuntuMono-Regular.woff2') format('woff2'),
        url('UbuntuMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu Mono';
    src: local('Ubuntu Mono Bold Italic'), local('UbuntuMono-BoldItalic'),
        url('UbuntuMono-BoldItalic.woff2') format('woff2'),
        url('UbuntuMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu Mono';
    src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'),
        url('UbuntuMono-Bold.woff2') format('woff2'),
        url('UbuntuMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




:root {
  --md-text-font: "Noto Serif","Ubuntu", "Noto Serif SC", Arial; 
  --md-code-font: "Ubuntu Mono", monospace; 
}

.md-ellipsis {
    font-family: "Ubuntu", Arial;
}

.md-nav__title {
    font-family: "Ubuntu", Arial;
}

.md-source__repository {
    font-family: "Ubuntu", Arial;
}

.md-footer {
    font-family: "Ubuntu", Arial;
}
